body {
  background-color: #fce305;
}
.wrapper {
    position: relative;
  }
  
  .star-rating { /*dashed-box*/
    position: relative;
    z-index: 3;
    opacity: 1;
    background: white;
  }
  .cover-input-box-rating {
    position: absolute;
    z-index: 2; /* put this div behind the star rating component and rating label but infront of input rating field */
    background: white; /*change to gold to see test*/
    width: 100%;
    height: 100%;
    left: -20%;
    top: -2%;
    opacity: 1;
  }
  .input-box-rating { /*green-box*/
    position: absolute;
    z-index: 1; /* put .green-box above .dashed-box */
    /* width: 20%; */
    left: 0%;
    top: 2%;
    opacity: 0.9;
  }