.Book-Item {
    background-color: #fce305;
    min-height: 10px;
    border-style:groove; border-width:medium; border-color: #06b600;
  }
.book-info{
    color:green;
  }
.button{
    vertical-align: top;
  }
.Book-Thumbnail{
    /*max-width: 10%;*/ 
    height: 8rem;
    width: 8rem;
    font-size: 0rem; 
    /* vertical-align: bottom; */
    /*left: 0px;*/
    left: 0px;
  }
  .myText{
    display: "block"; 
    color: "black";
     font-size: "0.5rem"; 
    }
    @media screen and (max-width: 780px) {/*for form fields, Galaxy Z Fold 4 (it's small screen)*/
      #booklistitem{
        min-width: "15rem";
        width: 100%;
      }
      .responsive-layout-for-buttons-BookItem
      {
        width: 100%;
      }
    }
  